<h1>
  {{title}}
</h1>

<div>
  <mat-form-field>
    <mat-label>確率 (%)</mat-label>
    <input matInput placeholder="例. 10" [(ngModel)]="rate">
  </mat-form-field>

  <mat-form-field>
    <mat-label>挑戦者数</mat-label>
    <input matInput placeholder="例. 10000" [(ngModel)]="count">
  </mat-form-field>

  <button mat-button (click)="start()">{{startLabel}}</button>
</div>
<div>
  <mat-form-field>
    <mat-label>単価</mat-label>
    <input matInput placeholder="例. 500" [(ngModel)]="unitPrice">
  </mat-form-field>
  <span>総売上: {{totalRevenue | number:0}}</span>
</div>

<table>
  <thead>
    <tr>
      <th>出るまで回した回数</th>
      <th>人数</th>
      <th>累積割合 (%)</th>
      <th>客単価</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of result">
      <td>{{r.coins | number:0}}</td>
      <td>{{r.count | number:0}}</td>
      <td>{{r.accumulatedP * 100 | number:'1.2-2'}}</td>
      <td>{{unitPrice * r.coins | number:0}}</td>
      <td>{{unitPrice * r.coins * r.count | number:0}}</td>
    </tr>
  </tbody>
</table>